.App {
  display: grid; 
  height: 100vh;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "clock shyball"
    "selector shyball"; 
  justify-items: stretch; 
}
.shyball { 
  grid-area: shyball; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.clock { 
  grid-area: clock;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkolivegreen;
}
.selector { 
  grid-area: selector;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
  
}